* {
margin: 0;
padding: 0;
border: 0;
}

.enter-image {
	background-image: url(../images/lauren-downer.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -73px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0;
	padding-right: 0;
}
h1 { 
	color: #FFF;
	text-align: center;
	font-size: 30px;
	color: #ed7a00;
	font-family:'Courier New';
}

h3 {
	color: #fff;
	font-family: 'Courier New';
	font-weight: bold;
}
.cover-message {
	text-align: center;
	position: inherit;

}
.box {
    width: inherit;
    display: inline-table;
    position: absolute;
    top: 500px;

}
.enter {
	border: 3px solid white;
	background-color: transparent;
	display: inline-block;
	font-size: 40px;
	padding: 15px;
	font-weight: bold;
	color: white;
}
.quote-author {
	font-family: "Courier New";
	color: white;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #ed7a00;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: white;
	background-color: #151515;
}
.navbar-default {
	background-color: #151515;
	opacity: .8;
	border-color: #151515;
	border-radius: 0px;
}
.navbar-default .navbar-brand {
	color: white;
	font-weight: bold;
}	
.dropdown-toggle {
	color: white;
}
.navbar-nav {
	float: right;
}
@media (min-width: 992px) {
	.col-md-12 
}
.standard-background {
	background-color: white;
}
.box-splash {
	height: 400px;
	width: 100%;
	background-image: url(../images/laurenbw.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
	background-position-y: inherit;
	background-position: center;
	margin-top: -72px;
}
.about-title {
	color: #ed7a00;
	text-align: left;
	padding: 20px;
	font-weight: bold;
	font-family: 'Courier New';
}
.about-content  {
	font-family: 'Courier New';
	color: gray;
	margin-left: 50px;
}
.navbar-header .navbar-nav>li>a:hover span, .navbar-header .navbar-nav>li>a:focus span {
	color: blue;
}
.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:focus {
	background-color: white;
}
.navbar-header .navbar-nav>li>a {
	color: blue;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: gray;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #ed7a00;
}
.work-splash {
	height: 400px;
	width: 100%;
	background-image: url(../images/desk.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
	background-position-y: inherit;
	background-position: center;
	margin-top: -72px;
}
img {
	height: 250px;
	margin: auto;
}
.client-padding {
	padding: 20px;
}

.client-overlay {
	background-color: rgba(237,122,0,0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.client1 {
	background-image: url(../images/desk.jpg);
	display: block;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat; 
	background-position-y: inherit;
	background-position: center;
	position: relative;
}
.client2 {
	background-image: url(../images/lauren-downer.jpg);
	display: block;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat; 
	background-position-y: inherit;
	background-position: center;
	position: relative;
}
.client3 {
	background-image: url(../images/lauren-downer.jpg);
	display: block;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat; 
	background-position-y: inherit;
	background-position: center;
	position: relative;
}
.client3 {
	background-image: url(../images/bridge.jpg);
	display: block;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat; 
	background-position-y: inherit;
	background-position: center;
	position: relative;
}
.client4 {
	background-image: url(../images/bridge.jpg);
	display: block;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat; 
	background-position-y: inherit;
	background-position: center;
	position: relative;
}
.client5 {
	background-image: url(../images/deepi.jpg);
	display: block;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat; 
	background-position-y: inherit;
	background-position: center;
	position: relative;
}
.logo-hover{
	position: absolute;
	display: table;
}

.span-hover {
	vertical-align: middle;
	display: table-cell;
	height: 300px;
}
.img-responsive {
	max-height: 100%;
}

.client-padding:hover .client-overlay {
	background: transparent;
}

.client-padding:hover img {
	display: none; 
}

.work-content {
	color: gray;
	font-family: 'Courier New';
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.sidebar {
	color: #ed7a00;
	font-family: 'Courier New';

}
.sidebar a {
	color: #ed7a00;
	text-decoration: none;
}
.no-list-style {
	list-style: none;
}

.sidebar li {
	padding: 15px 10px 15px 30px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #ed7a00;
}
.form-layout {
	text-align: center;
    padding: 20px;
    display: inline-block;
    border: solid;
}
.contact-button {
	background-color: #ed7a00;
    color: white;
    border: solid 2px;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px;
}
.entry {
    border: solid 1px;
}

.phone-style {
	display: inline-block;
}
.carousel {
	display: inline-block;
}
